<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="true">

    <testsuite name="Pinterest PHP API Test Suite">
        <directory>.</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
            <exclude>
                <directory suffix=".php">../src/helpers/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/coverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>